p
{
color: blue;
}
body
{
    background-color: blue;
    opacity: 0.4;
    border: 10px blue solid;
    box-shadow: 6px 5px 0px black;
    border-radius: 5px;
}
body:hover
{
    background-color: purple;
    opacity: 0.8;
    border: 10px blue solid;
    box-shadow: 1px 1px 0px red;
    border-radius: 5px;
}
